﻿*{
    margin: 0;
    padding: 0;
    border:0 none;
}

body{
    background: #A1C6EA;
    min-height: 100%;
}

a{
    text-decoration: none;
    color:black;
}

.wrap{
    width: 1340px;
	display:inline-block;
    background: #a1c6ea;
    position: absolute;  
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

/*Верхнее меню с поиском*/
.menuAndSearch{
    width: 100%;
    height: 50px;
    background: #ededed;
    font-family: Arial;
    font-size: 10pt;
}
.navigationTop {
    position: absolute;
    list-style: none;
    margin-top: 15px;
}
.navigationTop li{
    display: inline;
    margin-left: 45px;
}
.search{
    position: absolute;
    right: 0;
    top:0;
    margin: 15px 10px;
}

/*Главное меню*/
.mainMenu{
    height: 210px;
}
.logoSigma{
    display:inline;
    margin-left: 70px;
}
.location{
	font-size:30px;
	font-weight:bold;
    display: inline;
    margin-left: 350px;
}
.location .phone{
	font-size:50px;
	color:#ff9600;
}
.bag{
    display:inline;
    margin-left: 124px ;
}

/*Меню услуг*/
.serviceMenu{
    height: 115px;
    margin: 15px 10px 23px 10px;
    background:#ff9600;
    border-radius: 40px;
    position: relative;
	font-size: 15px;
	font-weight: bold;
}

.navigationServiceMenu{    
    list-style: none;
    margin: 0px 0 0 40px;  
}
.navigationServiceMenu li{
    float: left;
}

.navigationServiceMenu li a{
    display:block;
    padding-top: 55px;
    text-align: center;
    width: 210px;
}
.navigationServiceMenu a{
    margin: 25px 40px 0 0;
    border-right: 2px;
    border-image: url("image/boundaryMenu.gif")2;
}

.navigationServiceMenu .predpr1C a{
    background: url("image/logotype1C.gif") center top no-repeat;
}
.navigationServiceMenu .service a{
    background: url("image/logoBookkeeper.gif")center top no-repeat;
}
.navigationServiceMenu .buyDevices a{
    background: url("image/logoTradeEquipment.gif")center top no-repeat;
}
.navigationServiceMenu .software a{
    background: url("image/logoSoftware.gif")center top no-repeat;
}
.navigationServiceMenu .itService a{
    background: url("image/logoService.gif")center top no-repeat;
	border: none;
}

/*Левое меню с категориями продуктов*/
.menuCategoryProduct{
    width: 250px;
	min-height: 33%;
    height: 400px;
    border-radius: 40px;
	background:#ff9600;
    margin: 40px 0 0 10px;
    position: absolute;
	float: left;
}
.navigationLeftMenu{
    position: absolute;
	font-weight:bold;
    list-style: none;
    margin: 10px 0 5px 15px;
    font-size: 15px;
	line-height: 1.5;
}
.navigationLeftMenu .navigationLeftMenu1{
   font-weight:normal;
   list-style: none;
   margin: 10px 0px 0 20px;
   font-size: 15px;
}

/*Контент*/
.content{
    background: white;
    border-radius: 40px;
    width: 1000px;
    height: 1200px;
    margin-left: 300px;
	margin-top: 40px;
    position: relative;
	min-height: 33%;
}
h1{
    position: absolute;
    margin: 15px 0 0 22px;
    font-size: 25px;
	font-weight: bold;
    color: #271A7D;
    font-weight: bold;
}
.listOfProducts{
    position: absolute;
    margin: 50px 0 0 5px;
	text-align:center;
}
.infoProduct a{
    font-size: 15px;
	word-break:break-all;
	font-weight: bold;
    color: #003280;
    text-decoration: underline;
	
}.item-1, .item-2, .item-3{
    display: inline-block;
    width:250px;
    height: 215px;
    margin-left: 50px;
}
.infoProduct span{
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(251, 159, 24);
    font-weight: bold;
    line-height: 1;
}

.pagination{
    position: absolute;
    margin: 1150px 0 0 400px;
}

/*footer*/
.footer{
	margin: 100% 0 0 0;
    height: 112px;
	width: 100%;
    background-color: #A4A4A4;
}

.navigationBot {
    position: absolute;
    list-style: none;
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
}
.navigationBot li{
	float:center;	
    display: inline;
    margin-left: 75px;
}
.navigationBot li a {
    color: #322323;
}
.SigmaCorp{
    position: absolute;
    margin: 65px 0 0 15%;
    font-size: 20px;
    font-weight:bold;
    color: black;
}
.Work1CBitrix {
    position: absolute;
    margin: 70px 0 0 60%;
    font-size:20px;
    font-weight:bold;
    color: black;
}